<div class="col-md-8 col-md-offset-2">
  <div class="message-show">
  <h1><%= @message.title %></h1>
  <p class="message-posted-by"></p>Posted by <%=@message.user.email %> <%=time_ago_in_words(@message.created_at) %> ago</p>
  <h2 class="message-desc"><%= @message.description %></h2>
  <h3 class="comment-content">Comments:</h3>
  <%= render @message.comments %>
  <h3 class="reply-to-msg">Reply to Message:</h3>
  <%= render 'comments/form' %>
  <% if user_signed_in? %>
  <% if @message.user_id == current_user.id %>
  <div class="links btn-group">
  <%=link_to 'Back',root_path,class: "btn btn-default" %>
  <%=link_to 'Edit Message',edit_message_path,class: "btn btn-default" %>
  <%=link_to 'Delete',message_path(@message),method: :delete, data: {confirm: "Are you sure you want to delete this message"},class: "btn btn-default" %>
  <% end %>
  <% end %>
    </div>
   </div>
</div>
